 
 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>MVC With Cats!</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

	</head>
	<body>

		{{{ body }}}
	</body>
</html>
